.DS_Store
Assignment-2/data
Assignment-2/Data-PR-As2

*.jpg
*.csv
Assignment-2/__pycache__/GeneAnalysis.cpython-39.pyc
Assignment-2/gridsearch_results/gridsearch_results.tar.gz
Assignment-2/gridsearch_results/tmp/*
Assignment-2/gridsearch_results/No_cv_gridsearch_results.tar.gz
Assignment-2/gridsearch_results/KFold_3_gridsearch_results.tar.gz
*.tar.gz
Assignment-2/Genes_plots/LeaveOneOut1_grid_search.pkl
Assignment-2/Genes_plots/LeaveOneOut2_grid_search.pkl
Assignment-2/Genes_plots/LeaveOneOut3_grid_search.pkl

Assignment-2/LeaveOneOut1_grid_search.pkl
Assignment-2/LeaveOneOut2_grid_search.pkl
Assignment-2/LeaveOneOut3_grid_search.pkl
Assignment-2/__pycache__/GeneAnalysis.cpython-310.pyc
Assignment-2/__pycache__/GeneAnalysis.cpython-39.pyc
*.pyc
Assignment-2/Genes_results/LeaveOneOut1_grid_search.pkl
Assignment-2/Genes_results/LeaveOneOut2_grid_search.pkl
Assignment-2/Genes_results/LeaveOneOut3_grid_search.pkl

